<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Page Title</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <style>
      #showImg {
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
      }

      #showImg:hover {
        opacity: 0.7;
      }
    </style>
  </head>

  <body>
    <button
      type="button"
      class="btn btn-primary"
      data-toggle="modal"
      data-target="#exampleModal"
    >
      Launch demo modal
    </button>

    <!-- Modal -->
    <div
      class="modal fade bd-example-modal-lg"
      id="exampleModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg" role="document">
          <form method="POST">
              {% csrf_token %}
        <div class="modal-content">
          <div class="modal-header">
            <h5
              class="modal-title"
              id="exampleModalLabel"
              style="margin-left: 40%;"
            >
              Code Share
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-title">
            &nbsp;<label for="selectImg" class="btn btn-dark"
              >Select Your Avtar</label
            >
            <input
              type="file"
              name="selectImg"
              accept="image/*"
              id="selectImg"
              style="visibility: hidden;"
            />
            <img
              src=""
              id="showImg"
              onclick="showInp()"
              style="margin-left: 40%;"
            />
          </div>
          <div class="modal-body">
            <input
              type="text"
              id="roomId"
              name="roomId"
              class="form-control validate"
            />
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button
              type="button"
              class="btn btn-primary"
              onclick="validateRoomId(this)"
            >
              Join Room
            </button>
            </div>
          </div>
        </form>
        </div>
      </div>
      <!-- <input type="hidden" value="{{ csrf_token }}" id="csrf" /> -->
    </div>

    <script>
      document
        .getElementById("selectImg")
        .addEventListener("change", function(e) {
          var reader = new FileReader();

          reader.onload = function(e) {
            $("#showImg")
              .attr("src", e.target.result)
              .width(200)
              .height(200);
          };

          reader.readAsDataURL(document.getElementById("selectImg").files[0]);
        });

      function showInp() {
        $("#selectImg").show(100);
      }

      function validateRoomId() {
          
        var formData = new FormData();
        formData.append(
          "selectImg",
          document.getElementById("selectImg").files[0]
        );
        formData.append("roomId", $("#roomId").val());
        console.log(formData);
        
        
        var img = $("#selectImg");
        var roomId = $("#roomId").val();
        console.log(document.getElementById("selectImg").files[0]);
        console.log(roomId);
        var contentType= {
            headers: {
                "content-type": "multipart/form-data"
            }
        }
        axios.post('http://localhost:3000/validateRoomId', formData, contentType)
        .then(
            function(response){
                console.log(response);
            }
        )
        .catch(function(err){
            console.log(err);
        });  
      }
    </script>
  </body>
</html>
